.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 0px 10px;
  background-color: royalblue;
  font-size: 2rem;
  font-weight: bold;
  color: #282c34;
  width: 50px;
  height: 50px;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit
}

button:hover {
  background-color: mediumpurple;
}

.active {
  animation-name: highlight_radius;
  border: solid black 4px;
  animation-duration: .7s;
  animation-iteration-count: infinite
}

@keyframes highlight_radius {
  from {
    border-color: white;
  }
  50% {
    border-color: black;
  }
  to {
    border-color: white;
  }
}

ul {
  margin: 0px;
  padding: 0px
}

li {
  list-style: none;
}